[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest-black = "*"
pytest-flake8 = "*"
flake8-isort = "*"
pytest-mypy = "*"
sphinx-rtd-theme = "*"
doc8 = "*"

[packages]
numpy = "*"
pyqt5 = "*"
dls_pmaclib = {editable = true,git= 'git@gitlab.diamond.ac.uk:controls/python3/dls_pmaclib.git'}

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
tests = "python -m pytest --cov=dls_pmaccontrol --cov-report term"
docs = "sphinx-build -E -b html docs build/html"

[pipenv]
allow_prereleases = true

