[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pymalcolm = { editable = true, extras = ["dev"], path = "." }

[packages]
pymalcolm = { editable = true, path = "." }