[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-cov = "*"
pytest-black = "*"
pytest-flake8 = "*"
flake8-isort = "*"
pytest-mypy = "*"
sphinx-rtd-theme = "*"
doc8 = "*"

[packages]
numpy = "*"
pyqt5 = "*"
dls-pmaclib = {editable = true,path = "./../dls_pmaclib"}

[scripts]
# Put coverage here so we don't interfere with debugging in the IDE
black = "python -m pytest --black"
flake8 = "python -m pytest --flake8"
mypy = "python -m pytest --mypy"
tests = "python -m pytest --cov-fail-under=90 --cov=dls_pmaccontrol --cov-report term"
docs = "sphinx-build -E -b html docs build/html"

[pipenv]
allow_prereleases = true

